{% load static %}
{% load i18n %}
<!-- Add Fancybox CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

<!-- Add jQuery (required by Fancybox) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Fancybox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>


<div id="comments">
    <div class="card-header">
        <h3 class="text-center font-weight-light my-4">
            {% trans 'Comments' %}
        </h3>
    </div>
    {% if can_comment %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if form.non_field_errors %}
                <div class="alert {% if messages.success %} alert-success {% else %}
                 alert-warning {% endif %} alert-dismissible fade show" role="alert"
                     style="margin-top: 50px;">
                    <strong>{{ form.non_field_errors }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="card shadow-lg border-0 rounded-lg my-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">
                            {% trans 'Add a comment' %}
                        </h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'products:view' product.id %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.assessment.id_for_label }}">
                                    {% trans 'Assessment' %}
                                </label>
                                {{ form.assessment }}
                            </div>

                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.text.id_for_label }}">
                                    {% trans 'Text' %}
                                </label>
                                {{ form.text }}
                            </div>

                            <div class="custom-file mb-3">
                                <div class="custom-file mb-3">
                                    <input class="custom-file-input" type="file" name="files" id="files" multiple
                                           accept="image/*" onchange="limitFileSelection()"/>
                                    <label class="custom-file-label" for="files">
                                        {% trans 'Attachment' %}
                                    </label>
                                </div>
                            </div>

                            {{ form.captcha }}
                            <input class="btn btn-primary" type="submit" name="submit" value="{% trans 'Add the comment' %}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- List of Comments for this Product -->
    <div id="comments-list">
        {% include 'comments/comments_cards.html' %}
    </div>

    <div class="pagination justify-content-center">
        {% include 'comments/pagination.html' %}
    </div>

</div>

<script src="{% static '/vendor/js/comments.js' %}"></script>
