{% load static %}
{% load i18n %}
<script src="{% static '/vendor/js/comments.js' %}"></script>
<!-- Add Fancybox CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

<!-- Add jQuery (required by Fancybox) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Fancybox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>


<div id="comments">
    <div class="card-header">
        <h3 class="text-center font-weight-light my-4">
            Comments
        </h3>
    </div>
    {% if can_comment %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if form.non_field_errors %}
                <div class="alert {% if messages.success %} alert-success {% else %}
                 alert-warning {% endif %} alert-dismissible fade show" role="alert"
                     style="margin-top: 50px;">
                    <strong>{{ form.non_field_errors }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="card shadow-lg border-0 rounded-lg my-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">
                            {% trans 'Add a comment' %}
                        </h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'products:comments:view' product.id %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.assessment.id_for_label }}">
                                    {% trans 'Assessment' %}
                                </label>
                                {{ form.assessment }}
                            </div>

                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.text.id_for_label }}">
                                    {% trans 'Text' %}
                                </label>
                                {{ form.text }}
                            </div>

                            <div class="custom-file mb-3">
                                <div class="custom-file mb-3">
                                    <input class="custom-file-input" type="file" name="files" id="files" multiple
                                           accept="image/*" onchange="limitFileSelection()"/>
                                    <label class="custom-file-label" for="files">
                                        {% trans 'Attachment' %}
                                    </label>
                                </div>
                            </div>

                            {{ form.captcha }}
                            <input class="btn btn-primary" type="submit" name="submit" value="Add the comment"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- List of Comments for this Product -->
    <div class="row">
        {% for comment in comments %}
        <div class="col-lg-4 mb-4">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                        {{ comment.user.username }} (<span id="rating-{{ comment.id }}">{{ comment.rating }}</span>)
                    </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <p class="small mb-1">
                            Assessment
                        </p>
                        <div>
                            {{ comment.assessment }}
                        </div>
                    </div>

                    <div class="form-group">
                        <p class="small mb-1">
                            Text
                        </p>
                        {{ comment.text }}
                    </div>

                    <div class="form-group">
                        <p class="small mb-1">
                            Attachments
                        </p>
                        <div class="row row-cols-1 row-cols-md-4">
                            {% if comment.attachments.all %}
                            {% for attachment in comment.attachments.all %}
                            <div class="col mb-3">
                                <div class="card">
                                    <a href="{{ attachment.file.url }}" data-fancybox="comment-gallery-{{ comment.id }}">
                                        <img src="{{ attachment.file.url }}" alt="{{ attachment.file.name }}" class="card-img-top"/>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="col-12">
                                <p class="small mb-1">
                                    No photos
                                </p>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="card-footer text-center d-flex justify-content-between">
                    <div class="small">
                        <a href="#" class="like" data-comment-id="{{ comment.id }}" data-is-positive="true">Like</a>
                    </div>
                    <div class="small">
                        {{ comment.created_at|date:"Y-m-d" }}
                    </div>
                    <div class="small">
                        <a href="#" class="like" data-comment-id="{{ comment.id }}" data-is-positive="false">Dislike</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>

    $(document).ready(function () {
        // Initialize Fancybox
        $("[data-fancybox]").fancybox({
            arrows: true, // Display navigation arrows
            infobar: true, // Display image count and caption
            buttons: ["zoom", "slideShow", "fullScreen", "close"], // Customize buttons
            protect: true, // Prevent right-clicking and downloading images
            transitionEffect: "slide", // Set transition effect
        });

        // Close Fancybox when clicking outside the image
        $(document).on("click", ".fancybox-slide, .fancybox-toolbar", function (e) {
            if ($(e.target).hasClass("fancybox-content") || $(e.target).hasClass("fancybox-inner")) {
                $.fancybox.close();
            }
        });
    });

    // Initialize Fancybox
    $("[data-fancybox]").fancybox({
        arrows: true,
        infobar: true,
        buttons: ["zoom", "slideShow", "fullScreen", "close"],
        protect: true,
        transitionEffect: "slide",
    });

    // Close Fancybox when clicking outside the image
    $(document).on("click", ".fancybox-slide, .fancybox-toolbar", function (e) {
        if ($(e.target).hasClass("fancybox-content") || $(e.target).hasClass("fancybox-inner")) {
            $.fancybox.close();
        }
    });

</script>
