{% load i18n %}

<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">{% trans 'Shopping cart' %}</span>
    <span class="badge badge-primary badge-pill text-white">{{ total_quantity }}</span>
</h4>
<ul class="list-group mb-3">
    {% for basket in baskets %}

    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{ basket.product.name }}</h6>
            <small class="text-muted">{{ basket.quantity }} {% trans 'pcs.' %}</small>
        </div>
        <span class="text-muted">{{ basket.sum }} {{ baskets.currency.symbol }}</span>
    </li>

    {% endfor %}

    <li class="list-group-item d-flex justify-content-between">
        <span>{% trans 'Payable amount' %}</span>
        <strong>{{ total_sum }} {{ baskets.currency }}</strong>
    </li>
</ul>
