{% load static %}
{% load i18n %}
{% load custom_converter %}

<div class="col">
    <h4 class="mt-3 mb-3">
        {% trans 'Following' %}
    </h4>
    <div class="row">
        {% for following_product in user.product_followers.all %}
        <div class="col-lg-3 col-md-4 col-6 mb-4 px-1" id="product-following-{{ following_product.product.id }}">
            <div class="card h-100">
                <div style="position: relative; display: inline-block;">
                    <a href="{% url 'products:view' following_product.product.id %}">
                        <img class="card-img-top"
                             src="{% if following_product.product.image %}{{ following_product.product.image.url }}
                            {% else %}{% static '/vendor/img/products/default-product-image.png' %}{% endif %}"
                             alt="">
                    </a>
                </div>
                <div class="card-body p-2">
                    <h6 class="card-title">
                        <a class="text-decoration-none text-dark"
                           href="{% url 'products:view' following_product.product.id %}">
                            {{ following_product.product.name }}
                        </a>
                    </h6>
                    <h6>{{ following_product.product|converted_discounted_price_with_currency_symbol:request }}</h6>
                </div>
                <div class="card-footer text-center px-2 small">
                    <a href="{% url 'products:view' following_product.product.id %}"
                       class="btn btn-outline-primary col-12 small">
                        {% trans 'View' %}
                    </a>
                    <a href="#" class="unfollow-product" data-product-id="{{ following_product.product.id }}">
                        {% trans 'Unfollow' %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
