{% extends 'users/base.html' %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                {% if errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 50px;">
                    {% for error in errors %}
                    <strong>{{ error }}</strong>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">
                        {% trans 'Create an account' %}
                    </h3>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'user:registration' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="{{ form.first_name.id_for_label }}">
                                            {% trans 'Name' %}
                                        </label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1"
                                               for="{{ form.last_name.id_for_label }}">
                                            {% trans 'Surname' %}
                                        </label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="{{ form.username.id_for_username }}">
                                        {% trans 'Username' %}
                                    </label>
                                    {{ form.username }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="{{ form.username.id_for_label }}">
                                        {% trans 'E-mail address' %}
                                    </label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="{{ form.password1.id_for_label }}">
                                            {% trans 'Password' %}
                                        </label>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    {{ form.password1 }}
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-white">
                                                            <i class="bi bi-eye-slash togglePassword"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <small class="form-text text-muted password-requirements d-none">
                                                    {{ form.password1.help_text }}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="{{ form.password2.id_for_label }}">
                                            {% trans 'Confirm password' %}
                                        </label>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    {{ form.password2 }}
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-white">
                                                            <i class="bi bi-eye-slash togglePassword"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <input class="btn btn-primary btn-block" type="submit"
                                       value="{% trans 'Create an account' %}">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'user:login' %}">
                            {% trans 'Already have an account? Log in' %}
                        </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    // Show/hide password requirements based on user interaction
    $(document).ready(function () {
        $('#id_password1').on('focus', function () {
            $('.password-requirements').removeClass('d-none');
        });

        $('#id_password1').on('blur', function () {
            if ($(this).val() === '') {
                $('.password-requirements').addClass('d-none');
            }
        });
    });

</script>

<script>
    const togglePasswords = document.querySelectorAll(".togglePassword");
    const togglePasswordsArray = Array.from(togglePasswords);

    togglePasswordsArray.forEach((togglePassword, index) => {
        togglePassword.addEventListener('click', function (e) {
            const password = document.querySelector("#id_password" + (index + 1));
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        })
    });

</script>

{% endblock %}