{% extends 'users/base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Password Reset' %}
{% endblock %}

{% block content %}
<style>
    .trailing.clear {
  cursor: pointer;

  &:focus {
    color: #3b71ca;
    outline: none;
  }
}
</style>

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-warning{% endif %} alert-dismissible fade show" role="alert" style="margin-top: 50px;">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">
                            {% trans 'Password Reset' %}
                        </h3>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'user:reset_password' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group form-outline">
                                {{ form.email }}
                                <label class="form-label" for="{{ form.useemailrname.id_for_label }}">
                                    {% trans 'Email' %}
                                </label>
                                <span class="trailing pe-auto clear d-none" tabindex="0">✕</span>
                              {% if email %}
                              <small class="form-text">
                                {% trans 'The reset code has been sent to your email. It may take a few minutes.' %}
                              </small>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.captcha }}
                            </div>
                          <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="{% url 'user:login' %}">
                                    {% trans 'Remember your password? Log in!' %}
                                </a>
                                <input class="btn btn-primary" type="submit" value="{% trans 'Reset password' %}"
                                {% if email %}disabled{% endif %}>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const clearButton = document.querySelector('.trailing.clear');
const form_email = document.querySelector("#id_email");

const showElement = (element) => {
  if (element.classList.contains('d-none')) {
    element.classList.remove('d-none');
  }
}

const hideElement = (element) => {
  if (!element.classList.contains('d-none')) {
    element.classList.add('d-none');
  }
}

const clearInput = (button) => {
    const evt = document.createEvent("HTMLEvents");
    evt.initEvent("blur", false, true);

    const input = button.parentNode.querySelector(".form-icon-trailing");
    input.value = null;
    input.dispatchEvent(evt);
    hideElement(button);
}

clearButton.addEventListener('click', () => clearInput(clearButton));
clearButton.addEventListener('keydown', (event) => {
  if (event.code === "Enter") {
    event.preventDefault();
    clearButton.click();
  }
});

form_email.addEventListener('input', () => {
  if (form_email.value !== null) {
    showElement(clearButton);
  }
})
</script>

{% endblock %}