{% load i18n %}

<h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
    {% trans 'Basket' %}
    <span class="badge badge-secondary badge-pill total_quantity">
        {{ baskets.total_quantity }}
    </span>
</h4>
{% if baskets %}
<div class="card mb-3">
    {% for basket in baskets %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ basket.product.image.url }}" class="card-img-top" alt="{{ basket.product.name }}">
            </div>
            <div class="col-md-9">
                <h5 class="card-title">
                    <a href="{% url 'products:product_view' basket.product.id %}">
                        {{ basket.product.name }}
                    </a>
                </h5>
                <p class="card-text">{{ basket.product.description }}</p>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
            <div class="row text-center">
                <div class="col-lg-4">
                    <input name="basketID" type="number" class="form-control basket-quantity"
                           value="{{ basket.quantity|addslashes }}" min="1"
                           data-basket-id="{{ basket.id }}">
                </div>
                <div class="col-lg-4">
                    <span id="product-{{ basket.id }}">
                        {{ basket.sum }}
                    </span>
                    {{ baskets.currency.symbol }}
                </div>
                <div class="col-lg-4">
                    <a href="#" class="delete-basket" data-basket-id="{{ basket.id }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>

        </li>
    </ul>
    {% endfor %}
</div>
<div class="card mb-3">
    <div class="card-footer">
        <p class="float-left">{% trans 'Total' %}</p>
        <h4 class="float-right">
            <span class="total_sum">
                {{ baskets.total_sum }}
            </span>
            {{ baskets.currency.symbol }}</h4>
    </div>
</div>
<a class="btn btn-success btn-lg float-right mb-4" href="{% url 'user:orders:place_order' %}">
    {% trans 'Place an order' %}
</a>
{% else %}
<h5 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
    {% trans "There's nothing here yet" %}
</h5>
{% endif %}
