{% extends 'products/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    {% trans 'New looks and top brands in ' %} Store.
                    {% trans 'Free shipping worldwide!' %} {% if is_promotion %} {% trans 'Outlet: up to -70% Own brand. -20% to new customers.'%} {% endif %}
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        {% trans 'Start shopping' %}
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
