<nav id="page-list" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
            <a class="page-link" data-page="{% if products.has_previous %}
            {{ products.previous_page_number }} {% else %} 1 {% endif %}" href="#">
                Previous
            </a>
        </li>
        {% for page in products.paginator.page_range %}
        <li class="page-item {% if page == current_page %} active {% endif %}">
            <a class="page-link" data-page="{{ page }}" href="#">
                {{ page }}
            </a>
        </li>
        {% endfor %}

        <li class=" page-item {% if not products.has_next %} disabled {% endif %}">
            <a class="page-link" data-page="{% if products.has_next %}
            {{ products.next_page_number }} {% else %} {{ products.paginator.num_pages }} {% endif %}" href="#">
                Next
            </a>
        </li>

    </ul>
</nav>